@using Din.ExternalModels.Content
@using Din.ExternalModels.Entities
@using Din.Logic
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using UAParser


@section CSS {
    <link href="~/lib/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Home.css" rel="stylesheet" type="text/css" />
}

@if (Context.Session.GetString("User") != null)
{
    var user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("User"));
    var client = Parser.GetDefault().Parse(Context.Session.GetString("UserAgent"));
    await Html.RenderPartialAsync("~/Views/Main/Partials/_CarouselBackground.cshtml");
    <div class="container header">
        <div class="user-name">
            <i class="fab fa-@client.UserAgent.Family.ToLower()"></i>
            <h3>@user.FirstName @user.LastName</h3>
        </div>
        <div class="menu menu--closed">
            <span class="oi oi-menu menu-button"></span>
            <div class="items items--hidden">
                <a href="#">Account<span class="oi oi-person"></span></a>
                @if (user.Account.Role.Equals(AccountRoll.Admin))
                {
                    <a href="@Url.Action("Index", "Admin")">Admin Panel<span class="oi oi-terminal"></span></a>
                }
                <a href="@Url.Action("LogoutAsync", "Authentication")">Logout<span class="oi oi-account-logout"></span></a>
            </div>
        </div>
    </div>
    <div class="main-page-content container">
        <div class="row">
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-movie">
                    <i class="fa fa-film"></i>
                    <h3>Add Movie</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container">
                    <i class="fa fa-play-circle"></i>
                    <h3>Launch Client</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-tvshow">
                    <i class="fa fa-tv"></i>
                    <h3>Add Tv Show</h3>
                </div>
            </div>
        </div>
    </div>
    {
        await Html.RenderPartialAsync("~/Views/Main/Partials/_AddMovie.cshtml");
        await Html.RenderPartialAsync("~/Views/Main/Partials/_AddTvShow.cshtml");
        await Html.RenderPartialAsync("~/Views/Main/Partials/_AddResult.cshtml");
    }

    @section scripts {
        <script>
            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 5000
                })

                var Menu = {

                    body: $('.menu'),
                    button: $('.menu-button'),
                    tools: $('.items')

                };

                Menu.button.click(function () {
                    Menu.body.toggleClass('menu--closed');
                    Menu.body.toggleClass('menu--open');
                    Menu.tools.toggleClass('items--visible');
                    Menu.tools.toggleClass('items--hidden');
                });
            });
        </script>


        @if (Context.Session.GetString("contentAdded") != null)
        {
            <script>
                $('#content-added').modal('toggle');
            </script>

            Context.Session.Remove("contentAdded");
        }
    }

}
else
{
    @Url.Action("Index", "Main");
}