@using Din.ExternalModels.Content
@using Din.ExternalModels.Entities
@using Din.Logic
@using Microsoft.ApplicationInsights.AspNetCore
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@using UAParser


@{
    ViewData["Title"] = "Home";
}

@section CSS {
    <link href="~/lib/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Home.css" rel="stylesheet" type="text/css" />
}

@if (Context.Session.GetString("User") != null)
{
    var contentManager = new ContentManager();
    var images = JsonConvert.DeserializeObject<List<UnsplashContainer>>(contentManager.GenerateBackground());
    var user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("User"));
    var client = Parser.GetDefault().Parse(Context.Session.GetString("UserAgent"));

    var user2 = Context.User;

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @{
                var image = images[0].Urls.Custom;
                images.Remove(images[0]);
                <div class="carousel-item active"><img src="@image" /></div>
                foreach (var i in images)
                {
                    <div class="carousel-item"><img src="@i.Urls.Custom" /></div>
                }
            }
        </div>
    </div>
    <div class="container header">
        <div class="user-name">
            <i class="fab fa-@client.UserAgent.Family.ToLower()"></i>
            <h3>@user.FirstName @user.LastName</h3>
        </div>
        <div class="menu menu--closed">
            <span class="oi oi-menu menu-button"></span>
            <div class="items items--hidden">
                <a href="#">Account<span class="oi oi-person"></span></a>
                @if (user.Account.Role.Equals(AccountRoll.Admin))
                {
                    <a href="@Url.Action("Index", "Admin")">Admin Panel<span class="oi oi-terminal"></span></a>
                }
                <a href="@Url.Action("Logout", "Authentication")">Logout<span class="oi oi-account-logout"></span></a>
            </div>
        </div>
    </div>
    <div class="main-page-content container">
        <div class="row">
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-movie">
                    <i class="fa fa-film"></i>
                    <h3>Add Movie</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container">
                    <i class="fa fa-play-circle"></i>
                    <h3>Launch Client</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-tvshow">
                    <i class="fa fa-tv"></i>
                    <h3>Add Tv Show</h3>
                </div>
            </div>
        </div>
    </div>

    <div id="add-movie" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="custom-modal-header">
                    <i class="fas fa-times" data-dismiss="modal"></i>
                    <h3>Add A Movie</h3>
                </div>
                <div class="modal-body">
                    <p>Enter the name of the movie you want to add</p>
                    <form method="post" action="@Url.Action("SearchMovie", "Content")">
                        <i class="fas fa-search"></i>
                        <input type="search" id="search" name="searchQuery" placeholder="Search..." />
                        <input id="submit-button" type="submit" value="search" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="add-tvshow" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="custom-modal-header">
                    <i class="fas fa-times" data-dismiss="modal"></i>
                    <h3>Add A Tv Show</h3>
                </div>
                <div class="modal-body">
                    <p>Enter the name of the Tv Show you want to add</p>
                    <form method="post" action="@Url.Action("SearchTvShow", "Content")">
                        <i class="fas fa-search"></i>
                        <input type="search" id="search" name="searchQuery" placeholder="Search..." />
                        <input id="submit-button" type="submit" value="search" />
                    </form>
                </div>
            </div>
        </div>
    </div>

    if (Context.Session.GetString("contentAdded") != null)
    {
        var message = JsonConvert.DeserializeObject<Dictionary<string, string>>(Context.Session.GetString("contentAdded"));

        <div id="content-added" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="custom-modal-header">
                        <i class="fas fa-times" data-dismiss="modal"></i>
                        <h3 id="modal-title">@message["title"]</h3>
                    </div>
                    <div class="modal-body">
                        <p id="modal-message">@message["message"]</p>
                    </div>
                </div>
            </div>
        </div>
    }



    @section scripts {
        <script>
            $(document).ready(function () {
                $('.carousel').carousel({
                    interval: 5000
                })
                var Menu = {

                    body: $('.menu'),
                    button: $('.menu-button'),
                    tools: $('.items')

                };

                Menu.button.click(function () {
                    Menu.body.toggleClass('menu--closed');
                    Menu.body.toggleClass('menu--open');
                    Menu.tools.toggleClass('items--visible');
                    Menu.tools.toggleClass('items--hidden');
                });
            });
        </script>


        @if (Context.Session.GetString("contentAdded") != null)
        {
            <script>
                $('#content-added').modal('toggle');
            </script>

            Context.Session.Remove("contentAdded");
        }
    }

}
else
{
    @Url.Action("Index", "Main");
}

