@using Din.ExternalModels.Entities
@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json


@section CSS {
}

@if (Context.Session.GetString("User") != null)
{
    var user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("User"));
    await Html.RenderPartialAsync("~/Views/Main/Partials/_CarouselBackground.cshtml");
    <div class="container header">
        <div class="menu menu--closed">
            <span class="oi oi-menu menu-button"></span>
            <div class="items items--hidden">
                <a href="" class="account-btn">Account<span class="oi oi-person"></span></a>
                @if (user.Account.Role.Equals(AccountRoll.Admin))
                {
                    <a href="@Url.Action("Index", "Admin")">Admin Panel<span class="oi oi-terminal"></span></a>
                }
                <a href="@Url.Action("LogoutAsync", "Authentication")">Logout<span class="oi oi-account-logout"></span></a>
            </div>
        </div>
    </div>
    <div class="main-page-content container">
        <div class="row">
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-movie">
                    <i class="fa fa-film"></i>
                    <h3>Add Movie</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container">
                    <i class="fa fa-play-circle"></i>
                    <h3>Launch Client</h3>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="app-container" data-toggle="modal" data-target="#add-tvshow">
                    <i class="fa fa-tv"></i>
                    <h3>Add Tv Show</h3>
                </div>
            </div>
        </div>
    </div>
    {
        await Html.RenderPartialAsync("~/Views/Main/Partials/_AddMovie.cshtml");
        await Html.RenderPartialAsync("~/Views/Main/Partials/_AddTvShow.cshtml");
    }
    <div class="ajax-div"></div>
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>

    @section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                /* background carousel */
                $('.carousel').carousel({
                    interval: 5000
                });

                /* Home Menu */

                var menu = {
                    body: $('.menu'),
                    button: $('.menu-button'),
                    tools: $('.items')
                };

                menu.button.click(function() {
                    toggleMenu();
                });

                function toggleMenu() {
                    menu.body.toggleClass('menu--closed');
                    menu.body.toggleClass('menu--open');
                    menu.tools.toggleClass('items--visible');
                    menu.tools.toggleClass('items--hidden');
                }

                /* Home Menu View Loading */

                $('.account-btn').click(function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $.ajax({
                        url: '@Url.Action("GetUserView", "Account")',
                        type: 'GET',
                        success: function(view) {
                            $('div.ajax-div').replaceWith(function() {
                                return $(view).hide().fadeIn();
                            });
                            toggleMenu();
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });

                /* Content Searching */

                $('#search-movie-form').submit(function (e) {
                    $('.sk-folding-cube').css('display', 'block');
                    e.preventDefault();
                    e.stopPropagation();
                    var data = {
                        query: $('.search-movie').val()
                    };
                    $.ajax({
                        url: '@Url.Action("SearchMovieAsync", "Content")',
                        type: 'POST',
                        data: data,
                        success: function (view) {
                            $('.sk-folding-cube').css('display', 'none');
                            $('div.ajax-div').replaceWith(view);
                            $('#add-movie').modal('hide');
                            $('.ajax-div').modal('show');
                            $('.search-movie').val("");
                        },
                        error: function(error) {
                            console.log(error);
                        }
                    });
                });

                $('#search-show-form').submit(function (e) {
                    $('.sk-folding-cube').css('display', 'block');
                    e.preventDefault();
                    e.stopPropagation();
                    var data = {
                        query: $('.search-show').val()
                    };
                    $.ajax({
                        url: '@Url.Action("SearchTvShowAsync", "Content")',
                        type: 'POST',
                        data: data,
                        success: function (view) {
                            $('.sk-folding-cube').css('display', 'none');
                            $('div.ajax-div').replaceWith(view);
                            $('#add-tvshow').modal('hide');
                            $('.ajax-div').modal('show');
                            $('.search-show').val("");
                        },
                        error: function() {
                            console.log("error");
                        }
                    });
                });
            });

            /* Add Searched Movie */
            $(document).delegate('.add-movie',
                'click',
                function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var data = {
                        movieData: $(this).attr('data-model')
                    };
                    $.ajax({
                        url: '@Url.Action("AddMovieAsync", "Content")',
                        type: 'POST',
                        data: data,
                        success: function (view) {
                            $('.modal-backdrop').remove();
                            $('.ajax-div').replaceWith(view);
                            $('#content-added').modal('show');
                        },
                        error: function() {
                            console.log("error");
                        }
                    });
                });

            /* Add Searched TvShow */
            $(document).delegate('.add-tvshow',
                'click',
                function(e) {
                    e.preventDefault();
                    e.stopPropagation();
                    var data = {
                        tvShowData: $(this).attr('data-model')
                    };
                    $.ajax({
                        url: '@Url.Action("AddTvShowAsync", "Content")',
                        type: 'POST',
                        data: data,
                        success: function (view) {
                            $('.modal-backdrop').remove();
                            $('.ajax-div').replaceWith(view);
                            $('#content-added').modal('show');
                        },
                        error: function() {
                            console.log("error");
                        }
                    });
                });

            /* Account Menu Highlighting */
            $(document).delegate('.nav a',
                'click',
                function() {
                    $('.nav').find('.active').removeClass('active');
                    $(this).parent().addClass('active');
                });

            /* Partial view fade out animation */
            $(document).mouseup(function(e) {
                var container = $('.partial-screen');
                if (!container.is(e.target) && container.has(e.target).length === 0) {
                    container.fadeOut(function() {
                        container.replaceWith('<div class="ajax-div"></div>');
                    });
                }
            });
        </script>
    }}
else
{
    @Url.Action("Index", "Main")
}