@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var images = [{
                url: "@Url.Content("~/content/pictures/carousel/1.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/2.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/3.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/4.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/5.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/6.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/7.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/8.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/9.jpg")"
            }, {
                url: "@Url.Content("~/content/pictures/carousel/10.jpg")"
            }];

            // http://css-tricks.com/snippets/javascript/shuffle-array/
            images.sort(function () { return 0.5 - Math.random(); });

            $.each(images, function (index, image) {

                var element = $('<div class="item"><a href="#"><img src="' + image.url + '" alt="' + image.alt + '" /></a></div>')

                if (index === 0) {
                    element.addClass("active");
                }

                element.appendTo("div.carousel-inner");
            });

            $('.carousel').carousel({
                interval: 1000 * 10,
            })
        });
    </script>
}

@{
    if (Session["PermissionLevel"].ToString() == "user" || Session["PermissionLevel"].ToString() == "admin")
    {
        <head>
            <link href="~/Content/UserPannelIndex_style.css" rel="stylesheet" type="text/css" />
            <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        </head>

        <div id="background-carousel">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="50000">
                <div class="carousel-inner"></div>
            </div>
        </div>

        <div class="container-fluid">
            <ul class="rightMenu">
                <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Uitloggen</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 mainContent">
                    <div class="welcomeText">
                        <h2>Welkom</h2>
                        <h3>@Session["Name"]</h3>
                    </div>

                </div>
            </div>
        </div>

    }
    else
    {
        Url.Action("Index", "Home");
    }
}
