@using System.Runtime.InteropServices
@using Models.Content
@using TMDbLib.Objects.Lists
@section CSS
{
    <link href="~/Content/AddedMovies_style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
}

@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
        });
    </script>
}

@{
    if (Session["PermissionLevel"] == null)
    {
        Url.Action("Index", "Home");
    }

    if (Session["PermissionLevel"].ToString() == "user" || Session["PermissionLevel"].ToString() == "admin")
    {
        HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
        HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
        HttpContext.Current.Response.AddHeader("Expires", "0");

        List<ContentStatusObject> content = (List<ContentStatusObject>)Session["AddedContent"];


        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                @if (content.Count != 0)
                {
                    <h2 id="title">Movies added by you</h2>
                    <div class="extra-container">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Movie Title</th>
                                    <th>Status</th>
                                    <th>Time Left</th>
                                    <th>Date Added</th>
                                </tr>
                                </thead>
                                <tbody>
                                @{
                                    foreach (ContentStatusObject item in content)
                                    {
                                        TimeSpan eta = TimeSpan.FromSeconds(item.Eta);
                                        <tr>
                                            <td>@item.Title</td>
                                            <td>@item.Status</td>
                                            @if (@item.Status.Equals("downloaded"))
                                            {
                                                <td>It's done go watch it! 🔥</td>
                                            }
                                            else if (eta == TimeSpan.Zero)
                                            {
                                                <td>It's Probably too early for me to download 🤔</td>
                                            }
                                            else
                                            {
                                                <td>@eta</td>
                                            }
                                            <td>@item.DateAdded.ToShortDateString()</td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>
                    </div>

                                    }
                                    else
                                    {
                                        <h2 id="title">Add some movies first 🙄</h2>
                                    }
                <div class="confirm-button">
                    <button onclick="location.href = '@Url.Action("Index", "Home")'" type="button" class="btn btn-success">Cool cool, take me back</button>
                </div>
            </div>
        </div>
                                    }
}
