@using Models.AD
@using TMDbLib.Objects.Search

@section CSS
{
    <link href="~/Content/SearchResults_style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
}

@section scripts
{
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.add-movie').click(function () {
                console.log("test");
                $('.selected-movie').attr('value', $(this).attr('id'));
            });
        });
    </script>
}

@{
    if (Session["PermissionLevel"] == null)
    {
        Url.Action("Index", "Home");
    }

    List<int> movieIds = (List<int>)Session["CurrentMovies"];

    if (Session["PermissionLevel"].ToString() == "user" || Session["PermissionLevel"].ToString() == "admin")
    {
        HttpContext.Current.Response.AddHeader("Cache-Control", "no-cache, no-store, must-revalidate");
        HttpContext.Current.Response.AddHeader("Pragma", "no-cache");
        HttpContext.Current.Response.AddHeader("Expires", "0");

        var userData = (Session["UserData"] as AdUser);
        if ((Session["MovieResults"] as List<SearchMovie>).Count == 0)
        {
            <div class="backButtonContainer">
                <a href="@Url.Action("Index", "Home")" class="backButton" data-bckbtn="account">
                    <p><span class="glyphicon glyphicon-chevron-left"></span>Back</p>
                </a>
            </div>
            <div class="results col-md-10 col-md-offset-1">
                <h2 id="no-movies">No Movies where found!</h2>
            </div>
        }
        else
        {
            <div class="backButtonContainer">
                <a href="@Url.Action("Index", "Home")" class="backButton" data-bckbtn="account">
                    <p><span class="glyphicon glyphicon-chevron-left"></span>Back</p>
                </a>
            </div>
            <div class="results col-md-10 col-md-offset-1">
                <h2>Search Results</h2>
                @foreach (SearchMovie movie in (List<SearchMovie>)Session["MovieResults"])
                {
                    int date = Convert.ToDateTime(movie.ReleaseDate).Year;

                    string posterPath = "https://image.tmdb.org/t/p/w185_and_h278_bestv2" + movie.PosterPath;

                    <div movie-id="@movie.Id" class="item poster card">
                        <div class="image_content">
                            @{
                                if (string.IsNullOrEmpty(movie.PosterPath))
                                {
                                    <img class="poster" sizes="185px" src="@Url.Content("~/Content/Pictures/not-found.png")" />
                                }
                                else
                                {
                                    <img class="poster" sizes="185px" src="@posterPath" />
                                }
                            }
                        </div>
                        <div class="info">
                            <p class="flex">
                                <a class="title result" title="@movie.Title">@movie.Title</a>
                                <span class="vote_avarage">
                                    @movie.VoteAverage
                                    <span class="glyphicon glyphicon-star rating movie"></span>
                                </span>
                            </p>
                            <p class="meta flex">
                                <span class="release_date">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                    @date.ToString()
                                </span>
                            </p>
                            <p class="overview">
                                @movie.Overview
                            </p>
                            <div class="add-button">
                                @{
                                    if (movieIds.Contains(movie.Id))
                                    {
                                        <button disabled type="button" class="btn btn-default">Already Exists</button>
                                    }
                                    else
                                    {
                                        <form method="post" action="@Url.Action("AddMovie", "Main")">
                                            <button id="@movie.Id" type="submit" class="btn btn-primary add-movie">Add Movie</button>
                                            <input class="selected-movie" name="selected-movie" />
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                                    }
            </div>
                                        }
                                    }
                                    else
                                    {
                                        Url.Action("Index", "Home");
                                    }
}
