@using Newtonsoft.Json
@using Din.ExternalModels.ViewModels

@model TvShowResultsViewModel

@if (Model.QueryResult.Count.Equals(0))
{
    <div id="search-results-failed" class="modal fade ajax-div" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="custom-modal-header">
                    <i class="fas fa-times" data-dismiss="modal"></i>
                    <h3 id="modal-title">No Tv Shows where found</h3>
                </div>
                <div class="modal-body">
                    <p id="modal-message">Your search query resulted in 0 hits 😵<br/>Check for typo's</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div id="search-results" class="modal fade ajax-div" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card-frame">
                        @foreach (var show in Model.QueryResult)
                        {
                            var date = Convert.ToDateTime(show.FirstAirDate).Year;
                            var posterPath = "https://image.tmdb.org/t/p/w185_and_h278_bestv2" + show.PosterPath;

                            <div class="item poster card">
                                <div class="image">
                                    @{
                                        if (string.IsNullOrEmpty(show.PosterPath))
                                        {
                                            <img class="poster" sizes="185px" src="~/images/not-found.png" )/>
                                        }
                                        else
                                        {
                                            <img class="poster" sizes="185px" src="@posterPath"/>
                                        }
                                    }
                                </div>
                                <div class="info">
                                    <p class="flex">
                                        <a>@show.Name</a>
                                        <span class="vote_avarage">
                                            @show.VoteAverage
                                            <span class="oi oi-star"></span>
                                        </span>
                                    </p>
                                    <p class="flex">
                                        <span>
                                            <i class="far fa-calendar-alt"></i>
                                            @date.ToString()
                                        </span>
                                    </p>
                                    <p class="overview">
                                        @show.Overview
                                    </p>
                                    <div class="add-button">
                                        @{
                                            if (Model.CurrentTtileList.Contains(show.Name.ToLower()))
                                            {
                                                <button disabled type="button" class="btn btn-default">Already Exists</button>
                                            }
                                            else
                                            {
                                                <button data-model="@JsonConvert.SerializeObject(show)" class="btn btn-primary add-tvshow">Add Tv Show</button>
                                                <input class="selected-movie" name="selected-movie"/>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}