@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@using TMDbLib.Objects.Search

@section CSS {
    <link href="~/lib/fontawesome/css/fontawesome-all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/MovieResults.css" rel="stylesheet" type="text/css" />
}

@if (Context.Session.GetString("User") != null)
{
    var searchresult = JsonConvert.DeserializeObject<List<SearchMovie>>(Context.Session.GetString("searchResults"));
    var movieIds = JsonConvert.DeserializeObject<List<int>>(Context.Session.GetString("currentMovies"));
    if (searchresult.Count.Equals(0))
    {
        <div class="back-button">
            <a href="@Url.Action("GoBackAndClean", "Main")">
                <p><i class="fas fa-angle-left"></i>Back</p>
            </a>
        </div>
        <div class="results">
            <h2 id="no-movies">No Movies were found!</h2>
        </div>
    }
    else
    {
        <div class="back-button">
            <a href="@Url.Action("GoBackAndClean", "Main")">
                <p><i class="fas fa-angle-left"></i>Back</p>
            </a>
        </div>
        <div class="results">
            <div class="card-frame">
                @foreach (var movie in searchresult)
                {
                    var date = Convert.ToDateTime(movie.ReleaseDate).Year;
                    var posterPath = "https://image.tmdb.org/t/p/w185_and_h278_bestv2" + movie.PosterPath;

                    <div movie-id="@movie.Id" class="item poster card">
                        <div class="image">
                            @{
                                if (string.IsNullOrEmpty(movie.PosterPath))
                                {
                                    <img class="poster" sizes="185px" src="~/images/not-found.png" ) />
                                }
                                else
                                {
                                    <img class="poster" sizes="185px" src="@posterPath" />
                                }
                            }
                        </div>
                        <div class="info">
                            <p class="flex">
                                <a title="@movie.Title">@movie.Title</a>
                                <span class="vote_avarage">
                                    @movie.VoteAverage
                                    <span class="oi oi-star"></span>
                                </span>
                            </p>
                            <p class="flex">
                                <span>
                                    <i class="far fa-calendar-alt"></i>
                                    @date.ToString()
                                </span>
                            </p>
                            <p class="overview">
                                @movie.Overview
                            </p>
                            <div class="add-button">
                                @{
                                    if (movieIds.Contains(movie.Id))
                                    {
                                        <button disabled type="button" class="btn btn-default">Already Exists</button>
                                    }
                                    else
                                    {
                                        <form method="post" action="@Url.Action("AddMovie", "Content")">
                                            <button id="@movie.Id" type="submit" class="btn btn-primary add-movie">Add Movie</button>
                                            <input class="selected-movie" name="selected-movie" />
                                        </form>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    Url.Action("Index", "Main");
}

@section scripts {
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $('.add-movie').click(function () {
                $('.selected-movie').attr('value', $(this).attr('id'));
            });
        });
    </script>
}

